* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.faq {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    max-width: 800px; /* Évite que le contenu soit trop large */
}

.separations {
    display: flex;
    flex-direction: column; /* Permet d'empiler les éléments */
    justify-content: space-between;
    width: 100%; /* Ajuste à la largeur du parent */
}

article {
    width: 100%; /* S'assure que chaque question prend toute la largeur */
    padding: 1.3rem;
    margin-bottom: 1rem;
    border-top: 1px solid black;
    cursor: pointer;
    max-height: 50px; /* Hauteur initiale */
    overflow: hidden;
    transition: max-height 0.6s ease, opacity 0.4s ease;
}

article h2 {
    font-size: 1.2rem;
    text-align: left;
}

article p {
    margin-top: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

article.open {
    max-height: 200px; /* Quand on clique, il s'ouvre */
}

article p.visible {
    opacity: 1;
    visibility: visible;
}


@media (max-width: 768px) {
    .faq {
        width: 95%;
    }

    article h2 {
        font-size: 1rem; /* Réduit la taille du texte */
    }
}
