*{
    margin:0; 
    padding: 0; 
    box-sizing: border-box;
}

.separations{
    
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 55.2%;
    
}


article {
    padding-top: 1.3rem;
    margin-bottom: 3rem;
    border-top: 1px solid black;
    cursor: pointer;
    height: auto; /* Utilisez "auto" pour permettre l'expansion */
    max-height: 20px; /* Hauteur initiale */
    overflow: hidden; /* Masquer le contenu qui dépasse */
    transition: max-height 0.6s ease, opacity 0.4s ease;
}

article .paragraphe1,
article .paragraphe2,
article .paragraphe3 {
    margin-top: 2rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

article .paragraphe1.visible,
article .paragraphe2.visible,
article .paragraphe3.visible {
    opacity: 1;
    visibility: visible;
}

#questions1.open,
#questions2.open,
#questions3.open {
    max-height: 200px; /* Hauteur maximale lorsque ouvert */
}
   